@charset "UTF-8";

/* Variable */
:root {
  --color-dark-black: #1d1d1f;
  --color-gray: #888888;
  --color-dark-white: #f5f5f7;
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-dark-white);
}
html {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 14px;
  line-height: 1.2;
}
body {
  background-color: #000;
  overflow-x: hidden;
  letter-spacing: -0.05em;
  user-select: none;
}
body.before-load {
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
p {
  line-height: 1.6;
}

/* Container */
.container {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
}

/* Nav */
.global-nav {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background: #121212;
  padding: 0 1rem;
}
.global-nav-item {
  display: none;
}
.global-nav-logo,
.global-nav-cart {
  height: 48px;
  text-indent: -9999px;
}
.global-nav-logo {
  display: block;
  width: 17px;
  background: url(img/apple-logo.svg) no-repeat center / 17px 44px;
}
.global-nav-cart {
  width: 13px;
  background: url(img/nav-cart.svg) no-repeat center / 13px 44px;
}
.local-nav {
  position: absolute;
  z-index: 11;
  top: 48px;
  left: 0;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  transition: background 300ms;
}
.local-nav-sticky .local-nav {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(15px);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
}
.global-nav-link,
.local-nav-link {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  height: 100%;
}
.global-nav-link {
  justify-content: space-between;
}
.product-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: auto;
}
.local-nav-item {
  font-size: 0.8rem;
  margin-left: 2em;
}

/* Section */
.scroll-section {
  position: relative;
  padding-top: 50vh;
}

/* 0 */
#scroll-section-0 {
  text-align: center;
}
.scroll-heading {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 5rem;
  text-align: center;
}
.main-message {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40vh;
  font-size: 3rem;
  height: 3em;
  margin: 5px 0;
  opacity: 0;
}
.main-message p {
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
}

/* 1 */
#scroll-section-1 {
  text-align: center;
}
.description {
  max-width: 1000px;
  margin: auto;
  color: var(--color-gray);
  font-size: 1.2rem;
  padding: 0 1em;
}
.normal-heading {
  background: -webkit-linear-gradient(0deg, #be22ff 20%, #ff279c 50%, #ff981f 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin-bottom: 1.5em;
}
.normal-description {
  margin: 1em 0 3em;
}

/* 2 */
#scroll-section-2 {
  padding-top: 20vh;
}
.normal-elem {
  text-align: center;
  font-size: 2rem;
  line-height: 1.6;
}
.normal-image {
  width: 100%;
  max-width: 600px;
}
#scroll-section-2 .normal-heading {
  margin: 0;
}
#scroll-section-2 .main-message {
  font-size: 3rem;
}
.main-message small {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
.sticky-elem.desc-message {
  width: 50%;
  font-weight: bold;
  opacity: 0;
}
.sticky-elem.desc-message.b {
  top: 10%;
  left: 40%;
}
.sticky-elem.desc-message.c {
  top: 15%;
  left: 40%;
}
.pin {
  width: 1px;
  height: 100px;
  background-color: #fff;
}

/* 3 */
#scroll-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  color: var(--color-gray);
  font-size: 2rem;
  padding: 0 1rem;
}
.canvas-caption {
  max-width: 1000px;
  margin: -24rem auto 0;
  color: var(--color-gray);
  font-size: 1.2rem;
  padding: 0 1rem;
}

/* sticky elements */
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}
.sticky-elem {
  display: none;
  position: fixed;
  width: 100%;
}
.sticky-elem-canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}
.sticky-elem.desc-message {
  font-size: 1.5rem;
}
.image-blend-canvas.sticky {
  position: fixed;
  top: 0;
}

/* Normal */
.normal-section {
  margin-bottom: 10rem;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  height: 7rem;
  background: var(--color-dark-black);
  color: #fff;
}

/* Loading animation */
@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle-animation {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  opacity: 0;
  transition: opacity 500ms;
}
.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3000ms infinite;
}
.loading-circle circle {
  stroke: black;
  stroke-width: 4; /* px 생략 */
  /* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
  stroke-dasharray: 157;
  stroke-dashoffset: -157;
  fill: transparent;
  animation: loading-circle-animation 1000ms infinite;
}
.before-load .loading {
  opacity: 1;
}
.before-load .container {
  display: none; /* 위치 버그 수정 */
}

/* Responsive */
@media screen and (min-width: 1024px) {
  /* Nav */
  .global-nav-trigger {
    display: none;
  }
  .global-nav-item {
    display: block;
  }

  /* 0 */
  .scroll-heading {
    font-size: 10vw;
  }
  .main-message {
    font-size: 4vw;
  }

  /* 1 */
  .description {
    padding: 0;
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }

  /* 2 */
  .normal-heading {
    font-size: 4vw;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .sticky-elem.desc-message {
    font-size: 2rem;
  }
  .sticky-elem.desc-message.b {
    top: 20%;
    left: 40%;
  }
  .sticky-elem.desc-message.c {
    top: 20%;
    left: 25%;
    font-size: 4vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .desc-message {
    width: 20%;
  }

  /* 3 */
  .mid-message {
    width: 1000px;
    padding: 0;
    margin-bottom: 10%;
    font-size: 4vw;
  }
  .canvas-caption {
    font-size: 2rem;
    margin-top: -8rem;
  }
}
